{
  "swagger": "2.0",
  "info": {
    "description": "ComRef access API",
    "version": "v3",
    "title": "COMREF_APIGATEWAY_V3",
    "termsOfService": "urn:tos",
    "contact": {
      "name": "DIGIT-COMREF",
      "email": "DIGIT-COMREF@ec.europa.eu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "api.tech.ec.europa.eu",
  "basePath": "/crfserv/v3",
  "tags": [
    {
      "name": "administration-data-controller",
      "description": "Administration Data Controller"
    },
    {
      "name": "eu-learn-controler",
      "description": "Eu Learn Controler"
    },
    {
      "name": "info-controller",
      "description": "Info Controller"
    },
    {
      "name": "per-id-controller",
      "description": "Per Id Controller"
    },
    {
      "name": "per-identification-controller",
      "description": "Per Identification Controller"
    },
    {
      "name": "ref-codes-basic-auth-controller",
      "description": "Ref Codes Basic Auth Controller"
    },
    {
      "name": "ref-codes-controller",
      "description": "Ref Codes Controller"
    },
    {
      "name": "reports-basic-auth-controller",
      "description": "Reports Basic Auth Controller"
    },
    {
      "name": "reports-controller",
      "description": "Reports Controller"
    },
    {
      "name": "sysper-2-onboarding-basic-auth-controller",
      "description": "Sysper 2 Onboarding Basic Auth Controller"
    },
    {
      "name": "sysper-2-onboarding-controller",
      "description": "Sysper 2 Onboarding Controller"
    },
    {
      "name": "taxonomie-controller",
      "description": "Taxonomie Controller"
    },
    {
      "name": "technical-data-basic-auth-controller",
      "description": "Technical Data Basic Auth Controller"
    },
    {
      "name": "technical-data-controller",
      "description": "Technical Data Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/comref/administration/getAllDistinctRoles": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getAllDistinctRole",
        "operationId": "getAllDistinctRoleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "euLogin",
            "in": "query",
            "description": "euLogin",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MainRolesVO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getAllIntPayCd": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getAllIntPayCd",
        "operationId": "getAllIntPayCdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TelPersInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getAllRequestHeaders": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getAllRequestHeaders",
        "operationId": "getAllRequestHeadersUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TelPersInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getAllTelephoneExtensionsForPerIdAndInsCd": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getAllTelephoneExtensionsForPerIdAndInsCd",
        "operationId": "getAllTelephoneExtensionsForPerIdAndInsCdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insCd",
            "in": "query",
            "description": "insCd",
            "required": true,
            "type": "string"
          },
          {
            "name": "perId",
            "in": "query",
            "description": "perId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TelApiExtensionVO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getAllTelephonePersonsForPerIdAndInsCd": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getAllTelephonePersonsForPerIdAndInsCd",
        "operationId": "getAllTelephonePersonsForPerIdAndInsCdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insCd",
            "in": "query",
            "description": "insCd",
            "required": true,
            "type": "string"
          },
          {
            "name": "perId",
            "in": "query",
            "description": "perId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TelephonePersonVO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getDialPlanApiUsages": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getDialPlanApiUsages",
        "operationId": "getDialPlanApiUsagesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TelPersInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getRightsPerRole": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getRightsPerRole",
        "operationId": "getRightsPerRoleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "euLogin",
            "in": "query",
            "description": "euLogin",
            "required": true,
            "type": "string"
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "roleId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoleVO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getStatusForExtension": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getStatusForExtension",
        "operationId": "getStatusForExtensionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "description": "extension",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TelPersInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/getStatusForExtensionVO": {
      "get": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "getStatusForExtensionVO",
        "operationId": "getStatusForExtensionVOUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "description": "extension",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatusVO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/administration/insertInTelApiExtension": {
      "post": {
        "tags": [
          "administration-data-controller"
        ],
        "summary": "updateTelPersForUser",
        "operationId": "updateTelPersForUserUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "telApiExtensionDTO",
            "description": "telApiExtensionDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TelApiExtensionDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/reference/": {
      "get": {
        "tags": [
          "ref-codes-basic-auth-controller"
        ],
        "summary": "referenceCodes",
        "operationId": "referenceCodesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/reference/{type}": {
      "get": {
        "tags": [
          "ref-codes-basic-auth-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "description": "alias",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "join",
            "in": "query",
            "description": "join",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/sp2ob/": {
      "get": {
        "tags": [
          "sysper-2-onboarding-basic-auth-controller"
        ],
        "summary": "entities",
        "operationId": "entitiesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/sp2ob/{entity}": {
      "get": {
        "tags": [
          "sysper-2-onboarding-basic-auth-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_5",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "definition",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "entity",
            "in": "path",
            "description": "entity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/sp2ob/{entity}/{id}": {
      "get": {
        "tags": [
          "sysper-2-onboarding-basic-auth-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "description": "entity",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/technicaldata": {
      "get": {
        "tags": [
          "technical-data-basic-auth-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_4",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datatype",
            "in": "query",
            "description": "datatype",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "technical-data-basic-auth-controller"
        ],
        "summary": "post",
        "operationId": "postUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datafile",
            "description": "datafile",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "datatype",
            "in": "query",
            "description": "datatype",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/oauth/technicaldata/getAllIntPayCd": {
      "get": {
        "tags": [
          "technical-data-basic-auth-controller"
        ],
        "summary": "getAllIntPayCd",
        "operationId": "getAllIntPayCdUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TelPersInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/perIdentification/upload": {
      "post": {
        "tags": [
          "per-identification-controller"
        ],
        "summary": "getFile",
        "operationId": "getFileUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "filepers",
            "description": "filepers",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/perIds": {
      "get": {
        "tags": [
          "per-id-controller"
        ],
        "summary": "usage",
        "operationId": "usageUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "usage",
            "in": "query",
            "description": "usage",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/reference/": {
      "get": {
        "tags": [
          "ref-codes-controller"
        ],
        "summary": "referenceCodes",
        "operationId": "referenceCodesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/reference/{type}": {
      "get": {
        "tags": [
          "ref-codes-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "description": "alias",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "join",
            "in": "query",
            "description": "join",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/sp2ob/": {
      "get": {
        "tags": [
          "sysper-2-onboarding-controller"
        ],
        "summary": "entities",
        "operationId": "entitiesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/sp2ob/{entity}": {
      "get": {
        "tags": [
          "sysper-2-onboarding-controller"
        ],
        "summary": "list",
        "operationId": "listUsingGET_7",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "definition",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "entity",
            "in": "path",
            "description": "entity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/sp2ob/{entity}/{id}": {
      "get": {
        "tags": [
          "sysper-2-onboarding-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET_3",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "description": "entity",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/taxonomie/": {
      "get": {
        "tags": [
          "taxonomie-controller"
        ],
        "summary": "getFile",
        "operationId": "getFileUsingGET",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "description": "prefix",
            "required": false,
            "type": "string"
          },
          {
            "name": "ready",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "taxonomie-controller"
        ],
        "summary": "pushFile",
        "operationId": "pushFileUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "file",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/taxonomie/get": {
      "get": {
        "tags": [
          "taxonomie-controller"
        ],
        "summary": "getFileGet",
        "operationId": "getFileGetUsingGET",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "ins_cd",
            "in": "query",
            "description": "ins_cd",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/taxonomie/push": {
      "post": {
        "tags": [
          "taxonomie-controller"
        ],
        "summary": "pushFilePush",
        "operationId": "pushFilePushUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "file",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/technicaldata": {
      "get": {
        "tags": [
          "technical-data-controller"
        ],
        "summary": "usage",
        "operationId": "usageUsingGET_3",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "usage",
            "in": "query",
            "description": "usage",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "technical-data-controller"
        ],
        "summary": "post",
        "operationId": "postUsingPOST_1",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datafile",
            "description": "datafile",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "datatype",
            "in": "query",
            "description": "datatype",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/technicaldata/getUserUpdatedLocPers": {
      "get": {
        "tags": [
          "technical-data-controller"
        ],
        "summary": "getUserUpdatedLocPers",
        "operationId": "getUserUpdatedLocPersUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocPersUpdateResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/comref/technicaldata/uploadLocPersFile": {
      "post": {
        "tags": [
          "technical-data-controller"
        ],
        "summary": "postLocPer",
        "operationId": "postLocPerUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datafile",
            "description": "datafile",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "datatype",
            "in": "query",
            "description": "datatype",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocPersUpdateResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/eulearn": {
      "get": {
        "tags": [
          "eu-learn-controler"
        ],
        "summary": "usage",
        "operationId": "usageUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "usage",
            "in": "query",
            "description": "usage",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "eu-learn-controler"
        ],
        "summary": "pushData",
        "operationId": "pushDataUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "file",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "idtype",
            "in": "query",
            "description": "idtype",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/info": {
      "get": {
        "tags": [
          "info-controller"
        ],
        "summary": "get",
        "operationId": "getUsingGET",
        "produces": [
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/oauth/reports/streamingDownloadInBatches/{repName}": {
      "get": {
        "tags": [
          "reports-basic-auth-controller"
        ],
        "summary": "streamingDownloadInBatches",
        "operationId": "streamingDownloadInBatchesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StreamingResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/oauth/reports/test/{repName}": {
      "get": {
        "tags": [
          "reports-basic-auth-controller"
        ],
        "summary": "getReport",
        "operationId": "getReportUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/oauth/reports/{repName}": {
      "get": {
        "tags": [
          "reports-basic-auth-controller"
        ],
        "summary": "getReport2",
        "operationId": "getReport2UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "native",
            "in": "query",
            "description": "native",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/reports/streamingDownloadInBatches/{repName}": {
      "get": {
        "tags": [
          "reports-controller"
        ],
        "summary": "streamingDownloadInBatches",
        "operationId": "streamingDownloadInBatchesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StreamingResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/reports/test/{repName}": {
      "get": {
        "tags": [
          "reports-controller"
        ],
        "summary": "getReport",
        "operationId": "getReportUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/reports/{repName}": {
      "get": {
        "tags": [
          "reports-controller"
        ],
        "summary": "getReport2",
        "operationId": "getReport2UsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dir",
            "in": "query",
            "description": "dir",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "native",
            "in": "query",
            "description": "native",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "orderBy",
            "required": false,
            "type": "string"
          },
          {
            "name": "repName",
            "in": "path",
            "description": "repName",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://api.tech.ec.europa.eu/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "definitions": {
    "LocPersUpdateResult": {
      "type": "object",
      "properties": {
        "locPersLogCommentaire": {
          "type": "string"
        },
        "locationPersonList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocationPerson"
          }
        }
      },
      "title": "LocPersUpdateResult"
    },
    "LocationPerson": {
      "type": "object",
      "properties": {
        "adrAdmin": {
          "type": "string"
        },
        "batCd": {
          "type": "string"
        },
        "dtCre": {
          "type": "string",
          "format": "date-time"
        },
        "dtDeb": {
          "type": "string",
          "format": "date-time"
        },
        "dtFin": {
          "type": "string",
          "format": "date-time"
        },
        "dtMaj": {
          "type": "string",
          "format": "date-time"
        },
        "etgCd": {
          "type": "string"
        },
        "insCd": {
          "type": "string"
        },
        "lcpSeq": {
          "type": "integer",
          "format": "int64"
        },
        "lcpType": {
          "type": "string"
        },
        "locCd": {
          "type": "string"
        },
        "locId": {
          "type": "string"
        },
        "perId": {
          "type": "integer",
          "format": "int64"
        },
        "srcId": {
          "type": "integer",
          "format": "int64"
        },
        "uniqId": {
          "type": "integer",
          "format": "int64"
        },
        "vilAffCd": {
          "type": "string"
        },
        "vilCd": {
          "type": "string"
        }
      },
      "title": "LocationPerson"
    },
    "MainRolesVO": {
      "type": "object",
      "properties": {
        "listRoleVO": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleVO"
          }
        }
      },
      "title": "MainRolesVO"
    },
    "RestResult": {
      "type": "object",
      "properties": {
        "_": {
          "$ref": "#/definitions/Serializable"
        },
        "executionTime": {
          "type": "integer",
          "format": "int64"
        },
        "keys": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "recordCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "RestResult"
    },
    "RightVO": {
      "type": "object",
      "properties": {
        "comment": {
          "type": "string"
        },
        "dependency": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "include": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "nbDep": {
          "type": "integer",
          "format": "int64"
        },
        "rightId": {
          "type": "integer",
          "format": "int64"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleVO"
          }
        }
      },
      "title": "RightVO"
    },
    "RoleVO": {
      "type": "object",
      "properties": {
        "ctxId": {
          "type": "integer",
          "format": "int64"
        },
        "ctxName": {
          "type": "string"
        },
        "inherit": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "nbDep": {
          "type": "integer",
          "format": "int64"
        },
        "rightParent": {
          "type": "integer",
          "format": "int64"
        },
        "rightParentName": {
          "type": "string"
        },
        "rights": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RightVO"
          }
        },
        "roleId": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "RoleVO"
    },
    "Serializable": {
      "type": "object",
      "title": "Serializable"
    },
    "StatusVO": {
      "type": "object",
      "properties": {
        "existExtension134Closed": {
          "type": "string"
        },
        "existExtensionsAlocatedActive": {
          "type": "string"
        },
        "existExtensionsReleasedActive": {
          "type": "string"
        },
        "existExtensionsReservedActive": {
          "type": "string"
        },
        "existMultipleOperations": {
          "type": "string"
        },
        "extraMessage134": {
          "type": "string"
        },
        "lastTelApiExtensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TelApiExtensionVO"
          }
        },
        "perId134": {
          "type": "string"
        },
        "releaseAt": {
          "type": "string"
        },
        "responseCode": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        },
        "usage": {
          "type": "string"
        }
      },
      "title": "StatusVO"
    },
    "StreamingResponseBody": {
      "type": "object",
      "title": "StreamingResponseBody"
    },
    "TelApiExtensionDTO": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string"
        },
        "dtDeb": {
          "type": "string"
        },
        "dtFin": {
          "type": "string"
        },
        "extension": {
          "type": "string"
        },
        "insCd": {
          "type": "string"
        },
        "itfCre": {
          "type": "string"
        },
        "itfMaj": {
          "type": "string"
        },
        "perId": {
          "type": "string"
        },
        "releaseAt": {
          "type": "string"
        },
        "releaseAttribute": {
          "type": "string"
        },
        "srcId": {
          "type": "string"
        },
        "villeCd": {
          "type": "string"
        }
      },
      "title": "TelApiExtensionDTO"
    },
    "TelApiExtensionVO": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string"
        },
        "dtDeb": {
          "type": "string"
        },
        "dtFin": {
          "type": "string"
        },
        "extension": {
          "type": "string"
        },
        "extensionNew": {
          "type": "string"
        },
        "insCd": {
          "type": "string"
        },
        "perId": {
          "type": "integer",
          "format": "int64"
        },
        "villeCd": {
          "type": "string"
        }
      },
      "title": "TelApiExtensionVO"
    },
    "TelPersInfoDTO": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "error": {
          "type": "boolean"
        }
      },
      "title": "TelPersInfoDTO"
    },
    "TelephonePersonVO": {
      "type": "object",
      "properties": {
        "dtDeb": {
          "type": "string"
        },
        "dtFin": {
          "type": "string"
        },
        "extensionInterne": {
          "type": "string"
        },
        "insCd": {
          "type": "string"
        },
        "perId": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "TelephonePersonVO"
    }
  }
}