{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "pmm-organisations-Prod",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "api.tech.ec.europa.eu",
  "basePath": "/pmm/organisations/1.0",
  "tags": [
    {
      "name": "address-controller",
      "description": "Address Controller"
    },
    {
      "name": "contact-detail-controller",
      "description": "Contact Detail Controller"
    },
    {
      "name": "individual-controller",
      "description": "Individual Controller"
    },
    {
      "name": "link-organisations-controller",
      "description": "Link Organisations Controller"
    },
    {
      "name": "organisation-controller",
      "description": "Organisation Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/organisations/link/preserve": {
      "post": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "preserveOrgs",
        "operationId": "preserveOrgsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«LinkOrganisationsDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/update-with-ors-data": {
      "post": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "updateWithNewData",
        "operationId": "updateWithNewDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«UpdateProjectOrganisationsDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/contact/new": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getEmptyContact",
        "operationId": "getEmptyContactUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/contactDetails": {
      "get": {
        "tags": [
          "contact-detail-controller"
        ],
        "summary": "getAllContacts",
        "operationId": "getAllContactsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactDetailDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "contact-detail-controller"
        ],
        "summary": "createContact",
        "operationId": "createContactUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "contactDTO",
            "description": "contactDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactDetailDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactDetailDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/update/{projectId}": {
      "put": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "deleteUnusedOrgsAndUpdate",
        "operationId": "deleteUnusedOrgsAndUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "organisations",
            "description": "organisations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganisationDTO"
              }
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganisationDTO"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/{OrganisationId}": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getOrganisation",
        "operationId": "getOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "deleteOrganisation",
        "operationId": "deleteOrganisationUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": true,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/individuals/{OrganisationId}/{IndividualId}": {
      "delete": {
        "tags": [
          "individual-controller"
        ],
        "summary": "deleteIndividual",
        "operationId": "deleteIndividualUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "IndividualId",
            "in": "path",
            "description": "IndividualId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/projects-initially-containing-org/{originalOid}": {
      "get": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "getProjectsInitiallyContainingOrganisation",
        "operationId": "getProjectsInitiallyContainingOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "originalOid",
            "in": "path",
            "description": "originalOid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectOrgDetailsDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "address-controller"
        ],
        "summary": "getAllAddresses",
        "operationId": "getAllAddressesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AddressDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "address-controller"
        ],
        "summary": "createAddress",
        "operationId": "createAddressUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addressDTO",
            "description": "addressDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getAllOrganisations",
        "operationId": "getAllOrganisationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganisationDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/project/{ProjectId}": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getProjectOrganisations",
        "operationId": "getProjectOrganisationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ProjectId",
            "in": "path",
            "description": "ProjectId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganisationDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/update-organisation": {
      "post": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "updateOrganisation",
        "operationId": "updateOrganisationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "organisation",
            "description": "organisation",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/copy-new-data": {
      "post": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "copyNewData",
        "operationId": "copyNewDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«LinkOrganisationsDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/projects-containing-org/{Oid}": {
      "get": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "getProjectsContainingOrganisation",
        "operationId": "getProjectsContainingOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Oid",
            "in": "path",
            "description": "Oid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectOrgDetailsDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/project/updated-organisations/{ProjectId}": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getUpdatedProjectOrganisations",
        "operationId": "getUpdatedProjectOrganisationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ProjectId",
            "in": "path",
            "description": "ProjectId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UpdatedOrganisationDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/new": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getEmptyOrganisation",
        "operationId": "getEmptyOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/individuals/{OrganisationId}": {
      "post": {
        "tags": [
          "individual-controller"
        ],
        "summary": "createIndividual",
        "operationId": "createIndividualUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "individualDTO",
            "description": "individualDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "individual-controller"
        ],
        "summary": "updateIndividual",
        "operationId": "updateIndividualUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "individualDTO",
            "description": "individualDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/*": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "parameters": [
          {
            "in": "body",
            "name": "Payload",
            "description": "Request Body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "parameters": [
          {
            "in": "body",
            "name": "Payload",
            "description": "Request Body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/erasmus-policy-statement/{oid}": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getErasmusPolicyStatement",
        "operationId": "getErasmusPolicyStatementUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "oid",
            "in": "path",
            "description": "oid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ErasmusPolicyStatementDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/update-preserve-prj-data": {
      "post": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "updatePreservePrjData",
        "operationId": "updatePreservePrjDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«UpdateProjectOrganisationsDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/project/{ProjectId}/{Oid}": {
      "get": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "getProjectOrganisation",
        "operationId": "getProjectOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Oid",
            "in": "path",
            "description": "Oid",
            "required": true,
            "type": "string"
          },
          {
            "name": "ProjectId",
            "in": "path",
            "description": "ProjectId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Optional«OrganisationDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/contactDetails/{ContactDetailId}": {
      "get": {
        "tags": [
          "contact-detail-controller"
        ],
        "summary": "getContactDetail",
        "operationId": "getContactDetailUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ContactDetailId",
            "in": "path",
            "description": "ContactDetailId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactDetailDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "contact-detail-controller"
        ],
        "summary": "updateContact",
        "operationId": "updateContactUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ContactDetailId",
            "in": "path",
            "description": "ContactDetailId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "contactDTO",
            "description": "contactDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactDetailDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactDetailDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "tags": [
          "contact-detail-controller"
        ],
        "summary": "deleteContact",
        "operationId": "deleteContactUsingDELETE_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ContactDetailId",
            "in": "path",
            "description": "ContactDetailId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/link/revert": {
      "post": {
        "tags": [
          "link-organisations-controller"
        ],
        "summary": "revertData",
        "operationId": "revertDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«LinkOrganisationsDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/{ProjectId}": {
      "post": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "createOrganisation",
        "operationId": "createOrganisationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ProjectId",
            "in": "path",
            "description": "ProjectId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "organisationDTO",
            "description": "organisationDTO",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«OrganisationDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/organisations": {
      "post": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "updateOrganisations",
        "operationId": "updateOrganisationsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "organisations",
            "description": "organisations",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«List«OrganisationDTO»»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/individuals/organisation/{OrganisationId}": {
      "get": {
        "tags": [
          "individual-controller"
        ],
        "summary": "getIndividualsByOrganisation",
        "operationId": "getIndividualsByOrganisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "OrganisationId",
            "in": "path",
            "description": "OrganisationId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IndividualDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/organisations/update": {
      "put": {
        "tags": [
          "organisation-controller"
        ],
        "summary": "updateOneOrganisation",
        "operationId": "updateOneOrganisationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "organisationDTO",
            "description": "organisationDTO",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Optional«OrganisationDTO»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganisationDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/addresses/{AddressId}": {
      "get": {
        "tags": [
          "address-controller"
        ],
        "summary": "getAddress",
        "operationId": "getAddressUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AddressId",
            "in": "path",
            "description": "AddressId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "address-controller"
        ],
        "summary": "updateAddress",
        "operationId": "updateAddressUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AddressId",
            "in": "path",
            "description": "AddressId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "addressDTO",
            "description": "addressDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "tags": [
          "address-controller"
        ],
        "summary": "deleteContact",
        "operationId": "deleteContactUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AddressId",
            "in": "path",
            "description": "AddressId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/individuals": {
      "get": {
        "tags": [
          "individual-controller"
        ],
        "summary": "getAllIndividuals",
        "operationId": "getAllIndividualsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IndividualDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/individuals/{IndividualId}": {
      "get": {
        "tags": [
          "individual-controller"
        ],
        "summary": "getIndividual",
        "operationId": "getIndividualUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "IndividualId",
            "in": "path",
            "description": "IndividualId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndividualDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "deprecated": false,
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://api.tech.ec.europa.eu/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "definitions": {
    "ActivityDTO": {
      "type": "object",
      "properties": {
        "activityBenefit": {
          "type": "string"
        },
        "activityDescription": {
          "type": "string"
        },
        "activityId": {
          "type": "integer",
          "format": "int32"
        },
        "activityLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityLocationDTO"
          }
        },
        "activityName": {
          "type": "string"
        },
        "activityNeed": {
          "type": "string"
        },
        "activityTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "isDeleted": {
          "type": "string"
        },
        "organisationActivityId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "trgtGrpActivityBenefit": {
          "type": "string"
        },
        "volunteersTasks": {
          "type": "string"
        }
      },
      "title": "ActivityDTO"
    },
    "ActivityLocationDTO": {
      "type": "object",
      "properties": {
        "activityLocationId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationActivityId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationLocationId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "ActivityLocationDTO"
    },
    "ActivityObjectivesDTO": {
      "type": "object",
      "properties": {
        "activityObjectifId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationActivityId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationObjectifId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "ActivityObjectivesDTO"
    },
    "AddressDTO": {
      "type": "object",
      "properties": {
        "addressId": {
          "type": "string",
          "format": "uuid"
        },
        "cedex": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "countryId": {
          "type": "integer",
          "format": "int64"
        },
        "nutsCode": {
          "type": "integer",
          "format": "int64"
        },
        "poBox": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "street": {
          "type": "string"
        }
      },
      "title": "AddressDTO"
    },
    "ContactDetailDTO": {
      "type": "object",
      "properties": {
        "contactDetailId": {
          "type": "string",
          "format": "uuid"
        },
        "email": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "telephone1": {
          "type": "string"
        },
        "telephone2": {
          "type": "string"
        },
        "website": {
          "type": "string"
        }
      },
      "title": "ContactDetailDTO"
    },
    "ErasmusPolicyStatementDTO": {
      "type": "object",
      "properties": {
        "actionType": {
          "type": "integer",
          "format": "int32"
        },
        "latestUpdate": {
          "type": "integer",
          "format": "int32"
        },
        "oid": {
          "type": "string"
        },
        "projectCode": {
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "format": "uuid"
        },
        "weblink": {
          "type": "string"
        }
      },
      "title": "ErasmusPolicyStatementDTO"
    },
    "IndividualDTO": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/AddressDTO"
        },
        "contactDetail": {
          "$ref": "#/definitions/ContactDetailDTO"
        },
        "department": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "familyName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "genderId": {
          "type": "integer",
          "format": "int64"
        },
        "hasDifferentAddress": {
          "type": "integer",
          "format": "int64"
        },
        "individualId": {
          "type": "string",
          "format": "uuid"
        },
        "isDeleted": {
          "type": "string"
        },
        "isLegalrepresentative": {
          "type": "integer",
          "format": "int64"
        },
        "isOls": {
          "type": "integer",
          "format": "int64"
        },
        "isPreferredContact": {
          "type": "integer",
          "format": "int64"
        },
        "isPrimaryContact": {
          "type": "integer",
          "format": "int64"
        },
        "orderNumber": {
          "type": "integer",
          "format": "int64"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "personRoleId": {
          "type": "integer",
          "format": "int64"
        },
        "position": {
          "type": "string"
        },
        "telephone": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "title": "IndividualDTO"
    },
    "LegalRepresentativeDTO": {
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "legalRepresentativeId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "LegalRepresentativeDTO"
    },
    "LinkOrganisationsDTO": {
      "type": "object",
      "properties": {
        "orgParam": {
          "$ref": "#/definitions/OrganisationDTO"
        },
        "organisationIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "LinkOrganisationsDTO"
    },
    "LocationDTO": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "addressId": {
          "type": "string",
          "format": "uuid"
        },
        "city": {
          "type": "string"
        },
        "contactDetailId": {
          "type": "string",
          "format": "uuid"
        },
        "countryCode": {
          "type": "integer",
          "format": "int32"
        },
        "isDeleted": {
          "type": "string"
        },
        "locationId": {
          "type": "integer",
          "format": "int32"
        },
        "locationIndividual": {
          "$ref": "#/definitions/LocationIndividualDTO"
        },
        "locationName": {
          "type": "string"
        },
        "longTermVolunteers": {
          "type": "integer",
          "format": "int64"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationIndividualId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationLocationId": {
          "type": "string",
          "format": "uuid"
        },
        "postalCode": {
          "type": "string"
        },
        "shortTermVolunteers": {
          "type": "integer",
          "format": "int64"
        },
        "volntrsInVolntrnTemsActvts": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "LocationDTO"
    },
    "LocationIndividualDTO": {
      "type": "object",
      "properties": {
        "addressId": {
          "type": "string",
          "format": "uuid"
        },
        "contactDetailId": {
          "type": "string",
          "format": "uuid"
        },
        "department": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "familyName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "genderId": {
          "type": "integer",
          "format": "int64"
        },
        "hasDifferentAddress": {
          "type": "integer",
          "format": "int64"
        },
        "isDeleted": {
          "type": "string"
        },
        "locationIndividualId": {
          "type": "string",
          "format": "uuid"
        },
        "personRoleId": {
          "type": "integer",
          "format": "int64"
        },
        "position": {
          "type": "string"
        },
        "telephone": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "title": "LocationIndividualDTO"
    },
    "ObjectiveDTO": {
      "type": "object",
      "properties": {
        "objectifDescription": {
          "type": "string"
        },
        "objectifId": {
          "type": "integer",
          "format": "int32"
        },
        "objectifTitle": {
          "type": "string"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationObjectifId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "ObjectiveDTO"
    },
    "Optional«LinkOrganisationsDTO»": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "present": {
          "type": "boolean"
        }
      },
      "title": "Optional«LinkOrganisationsDTO»"
    },
    "Optional«List«OrganisationDTO»»": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "present": {
          "type": "boolean"
        }
      },
      "title": "Optional«List«OrganisationDTO»»"
    },
    "Optional«OrganisationDTO»": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "present": {
          "type": "boolean"
        }
      },
      "title": "Optional«OrganisationDTO»"
    },
    "Optional«UpdateProjectOrganisationsDTO»": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "present": {
          "type": "boolean"
        }
      },
      "title": "Optional«UpdateProjectOrganisationsDTO»"
    },
    "OrganisationDTO": {
      "type": "object",
      "properties": {
        "acronym": {
          "type": "string"
        },
        "activities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityDTO"
          }
        },
        "activitiesExperience": {
          "type": "string"
        },
        "activitiesInApplicationField": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/AddressDTO"
        },
        "businessName": {
          "type": "string"
        },
        "comments": {
          "type": "string"
        },
        "contactDetail": {
          "$ref": "#/definitions/ContactDetailDTO"
        },
        "dateAddedInProject": {
          "type": "string",
          "format": "date-time"
        },
        "dateUpdatedFromPdm": {
          "type": "string",
          "format": "date-time"
        },
        "dateWithdrawnFromProject": {
          "type": "string",
          "format": "date-time"
        },
        "department": {
          "type": "string"
        },
        "descriptionExperience": {
          "type": "string"
        },
        "descriptionStaffExpertise": {
          "type": "string"
        },
        "erasmusPolicyStatement": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "hasPreviousGrants": {
          "type": "integer",
          "format": "int64"
        },
        "individuals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndividualDTO"
          }
        },
        "isAddedThroughApplication": {
          "type": "string"
        },
        "isApplyingBehalfConsortium": {
          "type": "integer",
          "format": "int64"
        },
        "isDeleted": {
          "type": "string"
        },
        "isHigherEducation": {
          "type": "integer",
          "format": "int64"
        },
        "isInternationalOrganisation": {
          "type": "integer",
          "format": "int64"
        },
        "isLegalPerson": {
          "type": "integer",
          "format": "int64"
        },
        "isNonProfit": {
          "type": "integer",
          "format": "int64"
        },
        "isPublicBody": {
          "type": "integer",
          "format": "int64"
        },
        "isRegio": {
          "type": "integer",
          "format": "int64"
        },
        "isSme": {
          "type": "integer",
          "format": "int64"
        },
        "lastAddedOrDeletedDate": {
          "type": "string",
          "format": "date-time"
        },
        "lastProcedureSignedId": {
          "type": "integer",
          "format": "int64"
        },
        "learnerProfiles": {
          "type": "string"
        },
        "legalFormId": {
          "type": "integer",
          "format": "int64"
        },
        "legalRepresentatives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LegalRepresentativeDTO"
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocationDTO"
          }
        },
        "mainActivities": {
          "type": "string"
        },
        "mainActivitySectorDescription": {
          "type": "string"
        },
        "mainPhone": {
          "type": "string"
        },
        "mainSectorId": {
          "type": "integer",
          "format": "int64"
        },
        "mainSectorSpecification": {
          "type": "string"
        },
        "nameInLatinCharacterSet": {
          "type": "string"
        },
        "nameInLocalCharacterSet": {
          "type": "string"
        },
        "nationalId": {
          "type": "string"
        },
        "numberOfLearners": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfNonTeachingStaff": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfStaffs": {
          "type": "integer",
          "format": "int64"
        },
        "numberOfTeachingStaff": {
          "type": "integer",
          "format": "int64"
        },
        "objectives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ObjectiveDTO"
          }
        },
        "officialLanguageId": {
          "type": "integer",
          "format": "int64"
        },
        "oid": {
          "type": "string"
        },
        "oldOriginalOid": {
          "type": "string"
        },
        "orderNumber": {
          "type": "integer"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationName": {
          "type": "string"
        },
        "organisationRoleId": {
          "type": "integer",
          "format": "int64"
        },
        "organisationTypeId": {
          "type": "integer",
          "format": "int64"
        },
        "originalOid": {
          "type": "string"
        },
        "parQualityLabelsQl": {
          "$ref": "#/definitions/QualityLabelDTO"
        },
        "plannedActivities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlannedActivityDTO"
          }
        },
        "preserveOrganisationData": {
          "type": "string"
        },
        "previousParticipationDataComments": {
          "type": "string"
        },
        "previousParticipationDataUsageAgreement": {
          "type": "integer",
          "format": "int64"
        },
        "projectId": {
          "type": "string",
          "format": "uuid"
        },
        "providesLearningProgrammes": {
          "type": "integer",
          "format": "int64"
        },
        "reference": {
          "type": "string"
        },
        "registrationAuthority": {
          "type": "string"
        },
        "registrationCountryId": {
          "type": "integer",
          "format": "int64"
        },
        "registrationDate": {
          "type": "string",
          "format": "date-time"
        },
        "registrationNumber": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleDTO"
          }
        },
        "secondaryPhone": {
          "type": "string"
        },
        "shortPresentation": {
          "type": "string"
        },
        "staffSkillsExpertise": {
          "type": "string"
        },
        "statusId": {
          "type": "integer",
          "format": "int32"
        },
        "types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeDTO"
          }
        },
        "vatNumber": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "yearsOfExperience": {
          "type": "integer",
          "format": "int64"
        },
        "youngPeopleGroupPresentation": {
          "type": "string"
        }
      },
      "title": "OrganisationDTO"
    },
    "PlannedActivityDTO": {
      "type": "object",
      "properties": {
        "activityId": {
          "type": "integer",
          "format": "int32"
        },
        "activityObjectives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityObjectivesDTO"
          }
        },
        "activityTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "organisationActivityId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "years": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlannedActivityYearDTO"
          }
        }
      },
      "title": "PlannedActivityDTO"
    },
    "PlannedActivityYearDTO": {
      "type": "object",
      "properties": {
        "activitiesNumber": {
          "type": "integer",
          "format": "int32"
        },
        "activityYearId": {
          "type": "string",
          "format": "uuid"
        },
        "organisationActivityId": {
          "type": "string",
          "format": "uuid"
        },
        "participantsNumber": {
          "type": "integer",
          "format": "int32"
        },
        "yearId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "PlannedActivityYearDTO"
    },
    "ProjectOrgDetailsDTO": {
      "type": "object",
      "properties": {
        "organisationId": {
          "type": "string"
        },
        "organisationType": {
          "type": "string"
        },
        "organisationUuid": {
          "type": "string",
          "format": "uuid"
        },
        "originalOid": {
          "type": "string"
        },
        "projectCode": {
          "type": "string"
        },
        "projectTitle": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "title": "ProjectOrgDetailsDTO"
    },
    "QualityLabelDTO": {
      "type": "object",
      "properties": {
        "actImplmntWithInclusion": {
          "type": "string"
        },
        "actMngmntSetupDesc": {
          "type": "string"
        },
        "activitiesSummary": {
          "type": "string"
        },
        "activitiesSummaryTranslation": {
          "type": "string"
        },
        "actvtsContrbtnDescrptn": {
          "type": "string"
        },
        "actvtsMntrngEvaluation": {
          "type": "string"
        },
        "additionalServices": {
          "type": "string"
        },
        "additionalSupportDescription": {
          "type": "string"
        },
        "assesmentDescription": {
          "type": "string"
        },
        "assessmentMngmntRisk": {
          "type": "string"
        },
        "coprtnAndCommnctnDescrptn": {
          "type": "string"
        },
        "countryActivities": {
          "type": "string"
        },
        "depndntEnttsMontrngDescrptn": {
          "type": "string"
        },
        "descriptionExperience": {
          "type": "string"
        },
        "disseminationDescription": {
          "type": "string"
        },
        "employmentContractCompliance": {
          "type": "string"
        },
        "ensureActivitiesContinuity": {
          "type": "string"
        },
        "ensureActivitiesVisibility": {
          "type": "string"
        },
        "ensureCtlRprtngRqrmnt": {
          "type": "string"
        },
        "ensureTrnshipAreInline": {
          "type": "string"
        },
        "ensureTrnshipNotJobRep": {
          "type": "string"
        },
        "envSubstRespDesc": {
          "type": "string"
        },
        "evaluationDescription": {
          "type": "string"
        },
        "findingJobsOpportunities": {
          "type": "string"
        },
        "findingQualityTrnshipAct": {
          "type": "string"
        },
        "hasAdditionalSupport": {
          "type": "integer",
          "format": "int64"
        },
        "hasOtherLocations": {
          "type": "integer",
          "format": "int64"
        },
        "hasOtherSupport": {
          "type": "integer",
          "format": "int64"
        },
        "hasPartcpnWithFewrOpprtnts": {
          "type": "integer",
          "format": "int32"
        },
        "hasSutblPhysclEnvrnmnt": {
          "type": "integer",
          "format": "int64"
        },
        "hostdPartcpntsProflDescrptn": {
          "type": "string"
        },
        "impactDescription": {
          "type": "string"
        },
        "impactSummary": {
          "type": "string"
        },
        "impactSummaryTranslation": {
          "type": "string"
        },
        "implmnttnMontrngDescrptn": {
          "type": "string"
        },
        "intendedImpact": {
          "type": "string"
        },
        "internationalPartnership": {
          "type": "string"
        },
        "involvingManagement": {
          "type": "string"
        },
        "jobsQultMesrsDescrptn": {
          "type": "string"
        },
        "longTermHostngPersnsCapct": {
          "type": "string"
        },
        "managementDescription": {
          "type": "string"
        },
        "motivationDescription": {
          "type": "string"
        },
        "objectivesDescription": {
          "type": "string"
        },
        "objectivesReachDescription": {
          "type": "string"
        },
        "objectivesSummary": {
          "type": "string"
        },
        "objectivesSummaryTranslation": {
          "type": "string"
        },
        "orgCpctyMngmntCrdntn": {
          "type": "string"
        },
        "organisationDescription": {
          "type": "string"
        },
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "otherSupportDescription": {
          "type": "string"
        },
        "partWithFewrOpprSelcDescr": {
          "type": "string"
        },
        "partWithFewrOpprSuppDescr": {
          "type": "string"
        },
        "partcpntsIntgrMsrsSet": {
          "type": "string"
        },
        "partcpntsLrngPrcsQltDesc": {
          "type": "string"
        },
        "partcpntsProflDescrptn": {
          "type": "string"
        },
        "partcpntsSupprtActivity": {
          "type": "string"
        },
        "partcpntsSupprtBackCtr": {
          "type": "string"
        },
        "partcpntsSupprtDescrptn": {
          "type": "string"
        },
        "partcpntsSupprtRecrtmnt": {
          "type": "string"
        },
        "participantsSelection": {
          "type": "string"
        },
        "partnersCmnctnCooprtn": {
          "type": "string"
        },
        "partnersPresentation": {
          "type": "string"
        },
        "plannedActivitiesDtls": {
          "type": "string"
        },
        "practclArrngmntsDescrptn": {
          "type": "string"
        },
        "preparationDescription": {
          "type": "string"
        },
        "previousExperienceDescription": {
          "type": "string"
        },
        "projctObjctvsRelvncDescrptn": {
          "type": "string"
        },
        "prtnrshpBldngPresentation": {
          "type": "string"
        },
        "qualityMeasuresDescription": {
          "type": "string"
        },
        "qualityMonitoringDescription": {
          "type": "string"
        },
        "riskManagementDescription": {
          "type": "string"
        },
        "safetyDescription": {
          "type": "string"
        },
        "selctnTransprncDescrptn": {
          "type": "string"
        },
        "selectionProcessDescription": {
          "type": "string"
        },
        "shareResultDesc": {
          "type": "string"
        },
        "shortTermHostngPersnsCapct": {
          "type": "string"
        },
        "solidarityDescription": {
          "type": "string"
        },
        "strategicDevelopmentGoal": {
          "type": "string"
        },
        "surrndngsImpctDescrptn": {
          "type": "string"
        },
        "sutblPhysclEnvrnmntDescrptn": {
          "type": "string"
        },
        "targetGroupDescription": {
          "type": "string"
        },
        "transhpsAssrncsDescrptn": {
          "type": "string"
        },
        "useOfEsc": {
          "type": "string"
        },
        "volnLoclHostCommSuppDescr": {
          "type": "string"
        },
        "volntrPractclArrngmnDescrpt": {
          "type": "string"
        },
        "volntrRolAssrncsDescrptn": {
          "type": "string"
        }
      },
      "title": "QualityLabelDTO"
    },
    "RoleDTO": {
      "type": "object",
      "properties": {
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "qualityLabelRoleId": {
          "type": "integer",
          "format": "int64"
        },
        "roleId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "RoleDTO"
    },
    "TypeDTO": {
      "type": "object",
      "properties": {
        "organisationId": {
          "type": "string",
          "format": "uuid"
        },
        "qualityLabelTypeId": {
          "type": "integer",
          "format": "int64"
        },
        "typeId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "TypeDTO"
    },
    "UpdateProjectOrganisationsDTO": {
      "type": "object",
      "properties": {
        "oids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organisationIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "UpdateProjectOrganisationsDTO"
    },
    "UpdatedOrganisationDTO": {
      "type": "object",
      "properties": {
        "linkedOid": {
          "type": "string"
        },
        "oid": {
          "type": "string"
        },
        "orgName": {
          "type": "string"
        },
        "organisationUuid": {
          "type": "string",
          "format": "uuid"
        },
        "pic": {
          "type": "string"
        },
        "projectCode": {
          "type": "string"
        },
        "validationStatus": {
          "type": "string"
        }
      },
      "title": "UpdatedOrganisationDTO"
    }
  }
}