{
  "swagger": "2.0",
  "info": {
    "description": "Sysper2 API published on APIGW for PMO\u0027s 3rd party applications",
    "version": "1.0.0",
    "title": "Sysper2API"
  },
  "host": "api.tech.ec.europa.eu",
  "basePath": "/SYSPER2/api/1.0.0",
  "tags": [
    {
      "name": "Attachment"
    },
    {
      "name": "Declarations"
    },
    {
      "name": "Document API"
    },
    {
      "name": "Education File API"
    },
    {
      "name": "EIS File API"
    },
    {
      "name": "ERights description"
    },
    {
      "name": "Features API"
    },
    {
      "name": "Life Declaration API"
    },
    {
      "name": "Payslips API"
    },
    {
      "name": "Unemployment Initial File API"
    },
    {
      "name": "Unemployment Monthly File API"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/attachments/contentFileSuppDoc/{pefId}/{attachtId}": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Returns content of attachment",
        "description": "",
        "operationId": "getSupportingDocAttachmentDataForFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "attachtId",
            "in": "path",
            "description": "The attachment ID to fetch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The file ID to fetch the attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns attachment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/copyArchivable": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Copy archivable attachment to the file",
        "description": "",
        "operationId": "copySupDocArchAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID (rot_id) to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the attachment copied",
            "schema": {
              "$ref": "#/definitions/ArchivingOperationStatusVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/upload": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Upload an attachment to an object",
        "description": "",
        "operationId": "uploadAttachment",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "attachmentName",
            "in": "formData",
            "description": "the name of the file",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "formData",
            "description": "the file description",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Attachment file.",
            "required": true,
            "type": "file"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "the file",
            "required": true,
            "type": "file"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID to upload an attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID (rot_id) to upload an attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the attachment added",
            "schema": {
              "$ref": "#/definitions/SupportingDocAttachmentVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/uploadArchivable": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Upload an archivable attachment to an object",
        "description": "",
        "operationId": "addSupDocArchAttachmentToFile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "attachmentName",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Attachment file.",
            "required": true,
            "type": "file"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID (rot_id) to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the attachment added",
            "schema": {
              "$ref": "#/definitions/ArchivableAttachmentVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/{attachId}": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Get an attachment",
        "description": "",
        "operationId": "getAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachId",
            "in": "path",
            "description": "The attachment ID to fetch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID (it can be supporting document id) to fetch the attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID to fetch the attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns attachment",
            "schema": {
              "$ref": "#/definitions/SupportingDocAttachmentVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/{attachmentId}": {
      "delete": {
        "tags": [
          "Attachment"
        ],
        "summary": "Remove an attachment",
        "description": "",
        "operationId": "deleteAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The attachment ID to remove from the file",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID to upload an attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID to upload an attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted attachment id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/{attachmentId}/delArchivable": {
      "delete": {
        "tags": [
          "Attachment"
        ],
        "summary": "Remove an archivable attachment",
        "description": "",
        "operationId": "removeSupDocArchAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The archivable attachment ID to remove from the file",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The object ID to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID to upload an archivable attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted attachment id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/attachments/{objTypeId}/{objId}/{attachtId}/content": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Returns content of attachment",
        "description": "",
        "operationId": "getAttachmentData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "attachtId",
            "in": "path",
            "description": "The attachment ID to fetch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objId",
            "in": "path",
            "description": "The file ID to fetch the attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "objTypeId",
            "in": "path",
            "description": "The object type ID to fetch the attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns attachment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/declarations/list": {
      "get": {
        "tags": [
          "Declarations"
        ],
        "summary": "Get all declarations of given perId and filtered by file IDs (e.g.: to show in PMO Mobile dashboard recent items)",
        "description": "",
        "operationId": "getDeclarations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileIds",
            "in": "query",
            "description": "The file IDs to fetch comma separated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns declarations",
            "schema": {
              "$ref": "#/definitions/DeclarationsVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/document/hrmforms": {
      "get": {
        "tags": [
          "Document API"
        ],
        "summary": "Get a list of hrmForms documents by authenticated person",
        "description": "",
        "operationId": "getHrmFormsDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of documents for this agent",
            "schema": {
              "$ref": "#/definitions/DocumentsListVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/document/mydocuments": {
      "get": {
        "tags": [
          "Document API"
        ],
        "summary": "Get a list of documents by authenticated person",
        "description": "",
        "operationId": "getMyDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of documents for this agent",
            "schema": {
              "$ref": "#/definitions/DocumentsListVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/document/mydocuments/download/{docId}": {
      "get": {
        "tags": [
          "Document API"
        ],
        "summary": "Download document by docId",
        "description": "",
        "operationId": "downloadMyDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "description": "docId to download",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns document PDF",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/all": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get a list of edu declarations",
        "description": "",
        "operationId": "getEduDeclarations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of edu declarations",
            "schema": {
              "$ref": "#/definitions/EduDeclarationVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/create": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get metadata before education creation",
        "description": "",
        "operationId": "getMetadataEduFileBeforeCreation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "educationLevelId",
            "in": "query",
            "description": "The level of education to create",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              31040,
              31041,
              31042,
              31043,
              31044,
              31046,
              31047
            ]
          },
          {
            "name": "eduFileTypeId",
            "in": "query",
            "description": "The type of education to create. 0 is based on previous declaration, it can return warning in the returned json if it is not possible",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              2000110,
              2000111,
              2000112,
              2000113,
              2000114,
              2000116,
              0
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns pop-ups metadata to fill declaration",
            "schema": {
              "$ref": "#/definitions/EducationMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Creates education declaration",
        "description": "",
        "operationId": "createEducationDeclaration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Education declaration filled for request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduCreateRequestVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Education fileID created",
            "schema": {
              "$ref": "#/definitions/EducationDMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/financialSituation/{pefId}/{financialInfoChoice}": {
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Modify financial situation",
        "description": "",
        "operationId": "modifyFinancialSituation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "financialInfoChoice",
            "in": "path",
            "description": "Values: finInfo_noPay, finInfo_scholarDeferred, finInfo_declared",
            "required": true,
            "type": "string"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Financial situation has been modified"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/lodging/{pefId}": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Create lodging",
        "description": "",
        "operationId": "createLodging",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "eduLodgingVO",
            "description": "Lodging to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduLodgingVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Lodging has been created"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Updates lodging",
        "description": "",
        "operationId": "updateLodging",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "eduLodgingVO",
            "description": "Lodging update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduLodgingVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "The Lodging not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/lodging/{pefId}/{lodgingId}": {
      "delete": {
        "tags": [
          "Education File API"
        ],
        "summary": "Delete lodging",
        "description": "",
        "operationId": "deleteLodging",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lodgingId",
            "in": "path",
            "description": "The Lodging ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Lodger has been deleted",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/noLodging/{pefId}/{noLodging}": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Modify noLodging",
        "description": "",
        "operationId": "modifyEducationFileDetailNoLodging",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "noLodging",
            "in": "path",
            "description": "No Lodging",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "noLodging has been modified"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/payment/{pefId}": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Create payment",
        "description": "",
        "operationId": "createPayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "educationPaymentVO",
            "description": "Payment to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EducationPaymentVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment has been created"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Update payment",
        "description": "",
        "operationId": "updatePayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "educationPaymentVO",
            "description": "Payment update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EducationPaymentVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment has been updated",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "The payment not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "405": {
            "description": "Validation exception",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/payment/{pefId}/{paymentId}": {
      "delete": {
        "tags": [
          "Education File API"
        ],
        "summary": "Delete payment",
        "description": "",
        "operationId": "deletePayment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "The payment ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The Edu File ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment has been deleted",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/performAction/{fileID}": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Performs action (e.g.: sign and submit / retract) in workflow for education declaration fileID.",
        "description": "",
        "operationId": "performWorkflowActionEduDeclaration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "action to perform",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduPerformActionVO"
            }
          },
          {
            "name": "fileID",
            "in": "path",
            "description": "Person file id to submit",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Performs action for the education declaration",
            "schema": {
              "$ref": "#/definitions/EducationDMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/previous/{perIdBenefChild}": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get previous file data to using as cloning base for new declaration. If null means not found a previous declaration found for this beneficiary",
        "description": "",
        "operationId": "getPreviousEduFilesForChild",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "perIdBenefChild",
            "in": "path",
            "description": "The per id of beneficiary",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns previous data to fill new education declaration",
            "schema": {
              "$ref": "#/definitions/EduPreviousFileVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/situation/add/school": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Add school",
        "description": "",
        "operationId": "addSchool",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduAddSchoolVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduAddSchoolVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully add school",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/situation/options/{cntCd}": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get situation options",
        "description": "",
        "operationId": "getEduSituationOptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cntCd",
            "in": "path",
            "description": "The country code",
            "required": true,
            "type": "string"
          },
          {
            "name": "isPrimaryLevelEducation",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieves situation options.",
            "schema": {
              "$ref": "#/definitions/EduSituationMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/situation/search/schools": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Search schools",
        "description": "",
        "operationId": "searchSchools",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduSearchSchoolVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduSearchSchoolVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched schools",
            "schema": {
              "$ref": "#/definitions/EduSearchSchoolListVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/situation/{pefId}": {
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Put education situation",
        "description": "",
        "operationId": "setEduSituation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduSituationEditVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduSituationEditVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to set",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully saved education situation."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/suppDocs/{pefId}": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get supporting documents.",
        "description": "",
        "operationId": "getEduSupportingDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieves supporting documents information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupportingDocGroupVO"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/training/options": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get training options",
        "description": "",
        "operationId": "getEduTrainingOptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieves training options.",
            "schema": {
              "$ref": "#/definitions/EduTrainingMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/training/options/{pefId}": {
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Put training options",
        "description": "",
        "operationId": "setEduTrainingOptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduTrainingOptionVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduTrainingOptionVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully saved training option.",
            "schema": {
              "type": "boolean"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/training/{pefId}/add": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "summary": "Adds new training at the Education file",
        "description": "",
        "operationId": "addNewEduTraining",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduAddNewTrainingVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduTrainingVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added new training at file."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/training/{pefId}/{trainingId}": {
      "put": {
        "tags": [
          "Education File API"
        ],
        "summary": "Edit training data at the Education file",
        "description": "",
        "operationId": "editEduTraining",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduTrainingVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduTrainingVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "trainingId",
            "in": "path",
            "description": "The trainingId to edit",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully delete training at file."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "tags": [
          "Education File API"
        ],
        "summary": "Deletes training at the Education file",
        "description": "",
        "operationId": "deleteEduTraining",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to change",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "trainingId",
            "in": "path",
            "description": "The trainingId to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully delete training at file."
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/{pefId}": {
      "get": {
        "tags": [
          "Education File API"
        ],
        "summary": "Get education declaration",
        "description": "",
        "operationId": "getEduFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Education retrieved",
            "schema": {
              "$ref": "#/definitions/EducationDMO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/{pefId}/transport": {
      "post": {
        "tags": [
          "Education File API"
        ],
        "operationId": "addEducationTransport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduTransportVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduTransportVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "Education File API"
        ],
        "operationId": "modifyEducationTransport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "eduTransportVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EduTransportVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/{pefId}/transport/{noTransport}": {
      "put": {
        "tags": [
          "Education File API"
        ],
        "operationId": "setNoTransport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "noTransport",
            "in": "path",
            "description": "no transport flag",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/education/{pefId}/transport/{transportId}": {
      "delete": {
        "tags": [
          "Education File API"
        ],
        "operationId": "deleteEducationTransport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pefId",
            "in": "path",
            "description": "The ID of the file to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "transportId",
            "in": "path",
            "description": "transportId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/entryintoservice/create": {
      "post": {
        "tags": [
          "EIS File API"
        ],
        "summary": "Creates a new entry into service declarations",
        "description": "",
        "operationId": "createEisFileFromSN",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "auth-per-id",
            "in": "header",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "EisSNCreateRequestVO",
            "description": "Entry Into Service file to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EisSNCreateRequestVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the id of the new created declaration",
            "schema": {
              "$ref": "#/definitions/EisCreateResponseVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/entryintoservice/getSuppDocTypes": {
      "get": {
        "tags": [
          "EIS File API"
        ],
        "summary": "Get Supporting Document types available for EIS",
        "description": "",
        "operationId": "getSuppDocTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "auth-per-id",
            "in": "header",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of supporting document types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupportingDocumentTypeVO"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/entryintoservice/{carEventId}/{perId}/all": {
      "get": {
        "tags": [
          "EIS File API"
        ],
        "summary": "Returns list of entry into service declarations",
        "description": "",
        "operationId": "getEntryIntoServiceDeclarations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "carEventId",
            "in": "path",
            "description": "Career Event ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "perId",
            "in": "path",
            "description": "Person ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of entry into service declarations",
            "schema": {
              "$ref": "#/definitions/EntryIntoServiceVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/entryintoservice/{pefId}/data": {
      "put": {
        "tags": [
          "EIS File API"
        ],
        "summary": "Saves all data (full family details) related to the declaration.",
        "description": "",
        "operationId": "saveDataFromSN",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "auth-per-id",
            "in": "header",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "EntryIntoServiceDataVO",
            "description": "Entry Into Service declaration that received the data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryIntoServiceDataVO"
            }
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The id of the declaration to get",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the id of the new created declaration",
            "schema": {
              "$ref": "#/definitions/EntryIntoServiceVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/entryintoservice/{pefId}/{othId}/upload": {
      "post": {
        "tags": [
          "EIS File API"
        ],
        "summary": "Upload an attachment to an object",
        "description": "",
        "operationId": "uploadEisSupportingDocument",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "attachmentName",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "auth-per-id",
            "in": "header",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Attachment file.",
            "required": true,
            "type": "file"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "othId",
            "in": "path",
            "description": "The supported document type id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pefId",
            "in": "path",
            "description": "The declaration id (pef_id) to upload an attachment for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the attachment added",
            "schema": {
              "$ref": "#/definitions/SupportingDocAttachmentVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/erights/person/{perId}/rights": {
      "get": {
        "tags": [
          "ERights description"
        ],
        "summary": "Get a list of Rights by Person ID",
        "description": "",
        "operationId": "getRights",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Period from, if null ignore date check",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Period to, if null set infinity",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "perId",
            "in": "path",
            "description": "PerId for the person assignee and beneficiary that we want to get rights for.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of Rights for this agent",
            "schema": {
              "$ref": "#/definitions/RightsListVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/erights/right": {
      "post": {
        "tags": [
          "ERights description"
        ],
        "summary": "Add right for agent",
        "description": "",
        "operationId": "addRight",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Right properties to insert",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status of Right insertion for this agent",
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "put": {
        "tags": [
          "ERights description"
        ],
        "summary": "Update right for right ID",
        "description": "",
        "operationId": "updateRight",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Right properties to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status of Right update for this agent",
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/erights/right/{rightId}": {
      "get": {
        "tags": [
          "ERights description"
        ],
        "summary": "Get Right by RightId",
        "description": "",
        "operationId": "getRight",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rightId",
            "in": "path",
            "description": "RightId we want to get rights for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of ERights for this agent",
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      },
      "delete": {
        "tags": [
          "ERights description"
        ],
        "summary": "Delete right by right ID",
        "description": "",
        "operationId": "deleteRight",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rightId",
            "in": "path",
            "description": "RightId we want to delete rights for",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status of Right delete for this agent",
            "schema": {
              "$ref": "#/definitions/RightVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/feature/health": {
      "get": {
        "tags": [
          "Features API"
        ],
        "summary": "Get health status",
        "description": "",
        "operationId": "getHealth",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns health status",
            "schema": {
              "$ref": "#/definitions/HealthVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/feature/myfeatures": {
      "get": {
        "tags": [
          "Features API"
        ],
        "summary": "Get user features",
        "description": "",
        "operationId": "getMyFeaturesAccess",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of features active for this agent",
            "schema": {
              "$ref": "#/definitions/UserAccessVO"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/lifeDeclarationFile/all": {
      "get": {
        "tags": [
          "Life Declaration API"
        ],
        "summary": "Get a list of life declarations",
        "description": "",
        "operationId": "getLifeDeclarations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of life declarations",
            "schema": {
              "$ref": "#/definitions/PensionLifeDeclarationVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/lifeDeclarationFile/inProgress": {
      "get": {
        "tags": [
          "Life Declaration API"
        ],
        "summary": "Get in progress life declaration, if no item in progress, returns null",
        "description": "",
        "operationId": "getLifeDeclarationInProgress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns life declaration",
            "schema": {
              "$ref": "#/definitions/LifeDeclarationFileVO"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/lifeDeclarationFile/inProgress/submit": {
      "post": {
        "tags": [
          "Life Declaration API"
        ],
        "summary": "Submits life declaration in progress. If no life declaration in progress, nothing happens",
        "description": "",
        "operationId": "submitLifeDeclarationInProgress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "action to perform",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PensionLifeDeclarationPerformActionVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submits life declaration",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/mypayslips": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Get a list of payslips",
        "description": "",
        "operationId": "getMyPayslips",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of payslips this agent",
            "schema": {
              "$ref": "#/definitions/PayslipsVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/mypayslips/download/{institutionId}/{documentNumber}": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Download payslip by institution and document number",
        "description": "",
        "operationId": "downloadMyPayslip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "documentNumber",
            "in": "path",
            "description": "documentNumber to download",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "institutionId",
            "in": "path",
            "description": "Institution for the person to get payslip for.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns payslip PDF",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/mypensionslips": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Get a list of pension slips",
        "description": "",
        "operationId": "getMyPensionSlips",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of pension slips for this agent",
            "schema": {
              "$ref": "#/definitions/PayslipsVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/mypensionslips/download/{institutionId}/{documentNumber}": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Download payslip by institution and document number",
        "description": "",
        "operationId": "downloadMyPensionslip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "documentNumber",
            "in": "path",
            "description": "documentNumber to download",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "institutionId",
            "in": "path",
            "description": "Institution for the person to get payslip for.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns pensionslip PDF",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/myuneploymentslips": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Get a list of unemployment payslips",
        "description": "",
        "operationId": "getMyUnemploymentSlips",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns list of unemployment payslips for this agent",
            "schema": {
              "$ref": "#/definitions/PayslipsVOList"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payslip/myuneploymentslips/download/{institutionId}/{documentNumber}": {
      "get": {
        "tags": [
          "Payslips API"
        ],
        "summary": "Download unemployment payslip by institution and document number",
        "description": "",
        "operationId": "downloadMyUnemploymentslip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "documentNumber",
            "in": "path",
            "description": "documentNumber to download",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "institutionId",
            "in": "path",
            "description": "Institution for the person to get payslip for.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns unemployment payslip PDF",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte",
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}\u003d\u003d|[A-Za-z0-9+/]{3}\u003d)?$"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/profile/getLang": {
      "get": {
        "tags": [
          "Features API"
        ],
        "summary": "Get user language preference",
        "description": "",
        "operationId": "getUserLanguage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns user language preference",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-auth-type": "Application \u0026 Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/profile/setLang/{lngCode}": {
      "put": {
        "tags": [
          "Features API"
        ],
        "summary": "Set user language preference",
        "description": "",
        "operationId": "setUserLanguage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lngCode",
            "in": "path",
            "description": "The language code to set",
            "required": true,
            "type": "string",
            "enum": [
              "en",
              "fr"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user language preference",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
[...]
